.tabsDiv{
  // margin-left: 20px;
  // margin-right: 20px;
  height: 60px;
  padding-top: 12px;
  :global(.ant-tabs-top){
    :global(.ant-tabs-bar){
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 0;
      :global(.ant-tabs-nav-container){
        font-size: 15px;        
        &:global(.ant-tabs-nav-container-scrolling){
          padding-left: 0;
          padding-right: 60px;
        }
        :global(.ant-tabs-tab){
          min-width: 100px;
          margin-right: 0;
          text-align: center;
          padding: 15px 20px;
          &:hover{
            color: $primary-color;
          }
          &:global(.ant-tabs-tab-active){
            font-weight: bold;
          }
          &:global(.ant-tabs-tab-disabled){
            pointer-events: auto;
            cursor: not-allowed;
            color: #ccc;
            &:hover{
              color: #ccc;
            }
          }
        }
        :global(.ant-tabs-tab-prev),:global(.ant-tabs-tab-next){
          width: 30px;
          height: 30px;
          margin-top: 8px;
          color: #888;
          &:hover{
            background-color: #eee;
          }
          &:active{
            color: #333;
            background-color: #eee;
          }
          &:global(.ant-tabs-tab-btn-disabled),&:global(.ant-tabs-tab-btn-disabled:hover){
            color: #ccc;
            background: none;
          }
        }
        :global(.ant-tabs-tab-prev-icon),:global(.ant-tabs-tab-next-icon){
          font-size: 22px;
          font-weight: normal;
          position: relative;
          top: -2px;
        }
        :global(.ant-tabs-tab-prev){
          left:initial;
          right:30px;
        }
        :global(.ant-tabs-tab-next){        
          right: 0;
        }
        :global(.ant-tabs-ink-bar){
          height: 3px;
        }
      }
    }
  }
}