.messageComponent{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  white-space: nowrap;
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  z-index: 1011; // @zindex-message;

  :global{
    // .ant-modal{
    //   top:auto;
    // }
    .ant-modal{
      padding-bottom: 0;
      display: inline-block;
      vertical-align: middle;
      top: 0;
      text-align: left;
    }
    .ant-modal-content{
      border-radius: 3px;
    }
    .ant-modal-close-x{
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      margin: 10px 10px 0 0;
      color: #888;
      font-weight: 100;
      &:hover{
        color: #333;
      }
      &:active{
        color: #666;
      }
     }
    .ant-modal-body{
      min-height: 190px;
      padding: 60px 40px 50px 40px;
      display: flex;
      flex-direction: column;
    }
    .ant-modal-footer{
      display: flex;
      flex-direction: row;
      height: 50px;
      line-height: 50px;
      padding: 0;
      border-top: 1px solid #e5e5e5;
      &>span{
        flex: 1;
        text-align: center;
        user-select: none;
        transition: all 0.3s;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
.okBtn{
  color: #f08300;
  border-bottom-left-radius: 3px;
  background: #f2f2f2;
  &:hover{
    background: #e5e5e5;
  }
  &:active{
    background: #eee;
  }
}
.cancelBtn{
  color: #999;
  border-left: 1px solid #e5e5e5;
  border-bottom-right-radius: 3px;
  background: #f2f2f2;
  display: none;
  &:hover{
    color: #333;
    background: #e5e5e5;
  }
  &:active{
    color: #666;
    background: #eee;
  }
}
.alarmBtn{
  color: #999;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #f2f2f2;
  &:hover{
    color: #333;
    background: #e5e5e5;
  }
  &:active{
    color: #666;
    background: #eee;
  }
}
.confirmContainer{
  margin: auto;
  display: flex;
  flex-direction: row;
  .icon{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: auto 0;
    text-align: center;
    line-height: 47px;
    font-size: 20px;
    &.maiginzero{
      margin: 0;
    }
  }
  .tipsWord{
    margin-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #666;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    >p{
      width: 100%;
    }
    &.moreWord{
      justify-content: top;
      text-align: left;
    }
    .content{
      font-weight: normal;
      margin-top: 10px;
      max-height: 63px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }
}
