
// 用户头像
.normal {
  $boxHeight: 26px;
  position: relative;
  height: $boxHeight;
  line-height: $boxHeight;
  // margin-top: ($headerHeight - $boxHeight) / 2;
  font-size: 0;
  overflow: hidden;

  // float: left;
  // margin-left: 20px;

  >a{
    display: inline-block;
    width: $boxHeight;
    height: 100%;
    overflow: hidden;
    cursor: default;
    border-radius: 50%;
    >img{
      max-width: 100%;
    }
  }

  >div{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 0 10px;
    font-weight: bold;
  }
}
