// 用户中心(即注销)
.userCenter{
  // $rowHeight: 26px;
  position: relative;
  // height: $rowHeight;
  // line-height: $rowHeight;
  // margin-top: ($headerHeight - $boxHeight) / 2;
  // margin-left: 10px;
  color: #888;
  min-width: 70px;
  text-align: right;
  cursor: pointer;
  user-select: none;
  overflow: visible;

  >div{
    padding-left: 15px;
  }

  .icon{
    margin-left: 10px;
    transform: scale(0.7);
    transition: transform 0.25s;
  }
  .icon{
    transform: scale(0.5) rotate(180deg);
  }
  :global(.ant-popover-open){
    .icon{
      transform: scale(0.5);
    }
  }
}
.popContainer{
  :global{
    .ant-popover-inner-content{
      // width: 140px;
      padding: 10px 0 0;
    }
    .ant-popover-inner{
      box-shadow: 0px 0px 4px rgba(153, 153, 153, 0.35);
      border: 1px solid #ccc;
    }
    .ant-popover-arrow{
      $borderWidth: 8px;
      margin-left: -$borderWidth !important;
      top: -7px !important;
      border-width: $borderWidth !important;
      border-bottom-color: rgba(153, 153, 153, 0.35) !important;
      &:after{
        border-width: $borderWidth - 1 !important;
        top: -5px !important;
        margin-left: 1 - $borderWidth !important;
      }
    }
  }
  .link, .button{
    display: block;
    width: 100%;
    border-color: transparent;
  }
  .link{
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    color: #666;
    &:hover{
      background: #eee;
    }
    &:active{
      color: #333;
    }
    text-decoration: none;
  }
  .button{
    text-align: center;
    height: 30px;
    line-height: 30px;
    &:hover button>span:last-child{
      text-decoration: none;
    }
  }
  .lastItem:last-child:not(:only-child){
    border-top: 1px solid #f3f3f3;
  }
}
