.tag {
  display: inline-block;
  height: 22px;
  padding: 0 10px;
  line-height: 22px;
  background-color: transparent;
  color: #666;
  position: relative;
  svg {
    visibility: hidden;
  }
  .icon {
    position: absolute;
    height: 14px;
    width: 14px;
    top: -7px;
    right: -7px;
    color:#FF0000;
  }
}
.tag:hover {
  color:#333;
  background-color: #eee;
  svg {
    visibility: visible;
  }
}
