//后台全局默认按钮样式
@mixin bsBtnDefault{
        // width:60px;
        padding-left: 15px;
        padding-right: 15px;
        vertical-align: top;
        height: 32px;
        line-height: 30px;
        border-radius: 0;
        background: #fff;
        border:1px solid #edeff2;
        color: #666;
        padding: 0 15px;
        font-size:14px;
        &:hover{
        border:1px solid $primary-color;
        color: $primary-color;
        background: #fff;
        }
    }
    //后台全局蓝色按钮样式
    @mixin bsBtnPrimary{
        // width:60px;
        vertical-align: top;
        height: 32px;
        line-height: 30px;
        border-radius: 0;
        background: $primary-color;
        border:1px solid $primary-color;
        color: #fff;
        padding: 0 15px;
        font-size:14px;
        &:hover{
          background: #ed6801;
          color: #fff;
          border:1px solid #ed6801;
        }
    }
//前台全局默认按钮样式
@mixin btnDefault{
        vertical-align: top;
        height: 32px;
        line-height: 30px;
        background: #fff;
        border:1px solid #edeff2;
        color: #666;
        padding: 0 20px;
        font-size:14px;
        &:hover{
          color: $primary-color;
        }
    }
    //前台全局蓝色按钮样式
@mixin btnPrimary{
        vertical-align: top;
        height: 32px;
        line-height: 30px;
        background: $primary-color;
        border:1px solid $primary-color;
        color: #fff;
        padding: 0 20px;
        font-size:14px;
        &:hover{
          color: #fff;
          background: #ed6801;
          border:1px solid #ed6801;
        }
    }
    :global{
      .globalMinWidth{
        min-width: 900px;
      }
    }
