@function getImg($imgName){
    @return url(./img/#{$imgName});
}

.logo {
  height: $logoHeight;
  background: #f08300 getImg('logo.png') no-repeat center center;
  &.collapsed{
    background-image: getImg('logo_short.png');
  }
}
.hap {
  height: $logoHeight;
  background: #f08300 getImg('HAP.png') no-repeat center center;
  &.hapCollapsed{
    background-image: getImg('HAP_short.png');
  }
}
