@charset "UTF-8";
// @import "./input.scss";

$input-placeholder-color: #cccccc;
$input-color: #333333;
$input-border-color: #e5e5e5;
$input-hover-border-color: #999999;
$input-height-base: 32px;
$input-padding-horizontal: 9px;
$input-padding-vertical-base: 4px;
$input-disabled-bg: #f5f5f5;
$search-icon-color: #888888;
$search-icon-focus-color: #333333;
.wrapper{
    display: inline-block;
    :global{
        .ant-input{
            // @extend .ant-input[data-cinputstyle];
            border-radius: 2px;
            min-width: 180px;
            &:focus{
                border-color: $input-hover-border-color;
                outline: 0;
                box-shadow: none;
            }
        }
        .ant-input-affix-wrapper .ant-input:not(:last-child){
            padding-right: 40px;
        }
        .ant-input-affix-wrapper .ant-input-search-icon{
            color: $search-icon-color;
        }
        .ant-input-search:focus ~ .ant-input-suffix .ant-input-search-icon{
            color: $search-icon-focus-color;
        }
    }
}