.wrap {
  overflow: hidden;

  :global {
    .ant-modal {
      position: absolute;
      top: 0;
      right: 0;

      margin: 0;
      padding: 0;

      width: 400px !important;
      height: 100vh;

      &.zoom-enter.zoom-enter-active, &.zoom-appear.zoom-appear-active {
        opacity: 1;
        animation-duration: .2s;
        :local {
          animation-name: ASlideRightIn;
        }
      }
      &.zoom-leave.zoom-leave-active {
        opacity: 1;
        animation-duration: .2s;
        :local {
          animation-name: ASlideRightOut;
        }
      }

      .ant-modal-content {
        height: 100%;

        overflow: hidden;
      }

      .ant-modal-body {
        padding: 0;
      }

      .ant-modal-header, .ant-modal-footer {
        display: none;
      }
    }
  }

  &.scrollY {
    :global {
      .ant-modal-content {
        overflow-y: auto;
      }
    }
  }
}

@keyframes ASlideRightIn {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes ASlideRightOut {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(400px);
  }
}
