.normal{
  position: relative;
  height: 100%;
  background: rgba(242, 242, 242, 1);
  overflow-y: hidden;
  >:global(.ant-spin-container){
    overflow: hidden;
  }
  :global(.ant-spin-container){
    height: 100%;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), filter 0s !important;
  }
  :global{
    .ant-spin-spinning{
      max-height: initial !important;
    }
  }
}
