$hoverColor: #ed6801;
$activeColor: #d87402;
$disabledColor: #f7c080;

.checkbox{
  :global(.ant-checkbox-wrapper){
    &:not(:last-child){
      margin-right: 10px;
    }
  }
  :global(.ant-checkbox){
    height: 30px;
    width: 30px;
    + span{
      padding-left:0;
      padding-right: 0;
      top: -6px;
      position: relative;
    }
    :global(.ant-checkbox-inner){
      top: 50%;
      left: 50%;
      margin-left: -7px;
      margin-top: -7px;
      border: 1px solid #bbb;
    }
    &:hover{
      :global(.ant-checkbox-inner){
        border-color: $hoverColor;
      }
    }
    &:active{
      :global(.ant-checkbox-inner){
        border-color: $activeColor;
      }
    }
    &:disabled{
      :global(.ant-checkbox-inner){
        border-color: $disabledColor;
      }
    }
  }
  :global(.ant-checkbox-checked){
    :global(.ant-checkbox-inner){
      border-color: $primary-color;
    }
    &:hover{
      :global(.ant-checkbox-inner){
        border-color: $hoverColor;
        background-color: $hoverColor;
      }
    }
    &:active{
      :global(.ant-checkbox-inner){
        border-color: $activeColor;
        background-color: $activeColor;
      }
    }
    &:disabled{
      :global(.ant-checkbox-inner){
        border-color: $disabledColor;
        background-color: $disabledColor;
        
      }
    }
  }
  :global(.ant-checkbox-disabled){
    :global(.ant-checkbox-inner){
      border-color: #e5e5e5 !important;
      background-color: #f5f5f5;
    }
    + span{
      color: #ccc;
    }
  }
}
.square{
  :global(.ant-checkbox-checked){
    &:hover{
      :global(.ant-checkbox-inner){
        background-color: #fff !important;
      }
    }
    &:active{
      :global(.ant-checkbox-inner){
        background-color: #fff !important;
      }
    }
    &:disabled{
      :global(.ant-checkbox-inner){
        background-color: #fff !important;
        
      }
    }
    :global(.ant-checkbox-inner){
      background-color: #fff;
    }
    :global(.ant-checkbox-inner):after{
      width: 8px;
      top: 2px;
      left: 2px;
      transform:rotate(0) scale(1);
      background: $primary-color;
      border:0;
      border-radius: 2px;
    }
    &:hover{
      :global(.ant-checkbox-inner):after{
        background-color: $hoverColor
      }
    }
    &:active{
      :global(.ant-checkbox-inner):after{
        background-color: $activeColor
      }
    }
    &:disabled{
      :global(.ant-checkbox-inner):after{
        background-color: $disabledColor
      }
    }
  }

}