@function getImgUrl($imgName){
    @return url(./img/#{$imgName});
}
@function getCommonImgUrl($imgName){
    @return url(../assets/#{$imgName});
}


// $headerHeight: 40px;
@import './headerVar.scss';

.normal {
  height: $headerHeight;
  padding: 0px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 0 #ddd;
  z-index: 100;
  text-align: center;
}
.media {
  position: relative;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  font-size: 0;
  overflow: hidden;
}
.header-left {
  float: left;
  margin-left: 20px;
}
.circle {
  border-radius: 50%;
}
// .media-img {
//   width: 40px;
//   height: 100%;
//   overflow: hidden;
// }
.media-body {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin: 0 10px;
}
.header-right {
  float: right;
  margin-right: 70px;
  height: 100%;
  >div{
    display: inline-block;
    vertical-align: top;
  }
}
.user-alarm {
  user-select: none;
  cursor: default;
  display: inline-block;
  vertical-align: top;
  margin: -10px;
}
.alarmIcon {
  position: relative;
  width: 20px;
  background: url(./img/sound.png) no-repeat center center;
  height: 100%;
  display: inline-block;
}
:global(.sys-num-font) {
  color: #f7605f;
}
.badge {
  vertical-align: top;
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;
  line-height: 38px;
}

// 用户头像
.userAvator{
  $boxHeight: 26px;
  position: relative;
  height: $boxHeight;
  line-height: $boxHeight;
  margin-top: ($headerHeight - $boxHeight) / 2;
  font-size: 0;
  overflow: hidden;

  // float: left;
  // margin-left: 20px;

  >a{
    display: inline-block;
    width: $boxHeight;
    height: 100%;
    overflow: hidden;
    cursor: default;
    border-radius: 50%;
    >img{
      max-width: 100%;
    }
  }

  >div{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 0 10px;
  }
}

// 告警消息块
.alarm{
  $boxHeight: 26px;
  position: relative;
  height: $boxHeight;
  line-height: $boxHeight;
  margin-top: ($headerHeight - $boxHeight) / 2;
  font-size: 0;
  overflow: hidden;
  // color: red;
  &Text{
    position: relative;
    font-size: 14px;
    padding-left: 24px;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 20px;
      background: getImgUrl('sound.png') no-repeat center center;
    }
    // color: #0f0;
  }
  
  :global(.sys-num-font){
    margin: 0 5px;
    font-size: 18px;
    line-height: 24px;
  }

  &-popup{
    width: 120px;
    :global(.ant-popover-inner-content){
      padding: 0 5px;
    }
    p{
        z-index: 2;
        background-color: #fff;
        box-sizing: border-box;
        position: relative;
        height: 26px;
        line-height: 26px;
        padding-left: 8px;
        &:nth-last-child(n + 2){
            border-bottom: 1px dotted #dadada;
        }
        &:nth-child(3){
            border-bottom-style: solid;
        }
    }
    a{
        color: $globalThemeColor;
        padding: 6px 8px 6px 0;
    }
  }
}

// 用户中心(即注销)
.userCenter{
  $boxHeight: 26px;
  position: relative;
  height: $boxHeight;
  line-height: $boxHeight;
  margin-top: ($headerHeight - $boxHeight) / 2;
  margin-left: 10px;
  
  min-width: 70px;
  text-align: right;
  cursor: pointer;
  user-select: none;
  overflow: visible;
  
  >div{
    padding-left: 10px;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 20px;
    margin: auto 0;
    background-color: #ddd;
  }

  :global(.anticon){
    margin-left: 10px;
  }
}