@function getImgUrl($imgName){
    @return url(./img/#{$imgName});
}
@import './headerVar.scss';

.normal {
  display: flex;
  flex-direction: column;
  height: 100%;
  .content {
    flex: 1;
    display: flex;
  }

  .main {
    padding: 0 8px;
    flex: 1 0 auto;
  }

  .logo {
    height: $headerHeight;
    background: #1c1c1c getImgUrl('logo.png') no-repeat center center;
  }
  :global(.ant-layout-sider-collapsed) .logo {
    background: #1c1c1c getImgUrl('logo_short.png') no-repeat center center;
  }
  :global(.ant-layout-sider-collapsed) .anticon {
    font-size: 16px;
  }


  :global(.ant-layout-sider){
    background-color: #272727;
  }

  :global(.ant-layout-sider-trigger){
    background: transparent;
    bottom: auto;
    // top: 0;
    height: 21px;
    line-height: 21px;
    top: $headerHeight;
  }

  .nav{
    margin-top: 21px;
  }
}




